
/* tablets */
@media screen and (max-width:820px) {
    body{
        overflow-x: hidden;
    }
    nav{
        min-width: 412px;
        max-width: 820px;
    }
    nav .btnsCon{
        position: absolute;
        top: -110%;
        left: 0;
        width: 100%;
        height: 4rem;
        background: white;
        
        padding: 1rem 2rem;
        transition: .3s;
    }
    nav ul{
        margin: 0 auto;
        width: 60%;
    }
    /* making it appears */
    .open{
        top: 110% !important;
        transition: .3s;
    }

    header{
        background: url('../assets/item-1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    header .headContainer .textContainer{
        width: 100%;
    }
    header .headContainer .textContainer h1{
        font-size: 4rem;
    }
    header .headContainer .textContainer p{
        font-size: 1.1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
    }
    header .headContainer .textContainer button{
            
        /* background: white; */
        /* border: none; */
        border: 2px solid white;
        color: white;
        font-weight: 500;
        /* color: rgb(252, 194, 1); */

        width: 11rem;
        font-size: 1.4rem;
    }
    .about{
        /* flex-direction: column; */
        height:100vh ;
    }
    .about .aboutText{
        width: 50%;
        padding: 1rem 2rem;
        background:  rgb(249, 237, 196);
    }
    .aboutText h1{
        color: rgb(252, 194, 1);
        font-size: 3.5rem !important;
    }
    .aboutText h2{
        font-size: 2rem !important;
        color: rgb(243, 188, 8);
    }
    .aboutText p{
        height: 60%;
        font-size: 1.4rem;
        color: rgba(71, 71, 71, 0.833);
    }
    .aboutText .read{
        color: rgb(252, 194, 1)!important;
    }
    .about .imageCon{
        /* display: none; */
        width: 50%;
    }
    .menu{
        padding: 0 .4rem 1rem;
        background: white;
        height: auto;
    }
    .menu .menuTitle{
        height: 5vh;
    }
    .menu .cardsCon {
        height: unset;
        width: 100%;
        padding: 0;
        place-content: unset;
        grid-template-columns: repeat(3,1fr);
    }
    .orders{

        background: rgb(249, 237, 196);
    }
    .orders .orderContainer{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .orders .orderContainer .orderImg{
        width: 100%;
        background-position: center;
    }
    .orders .orderContainer .orderText{
        width: 100%;
    }
    .orderText label{
        align-self: flex-start;
    }
    .orderText button{
        align-self: flex-start;

    }
    .copyR{
        height: 1.5rem;
        padding: 0%;
        background: rgb(249, 237, 196);
    }

}
@media screen and (max-width:412px) {
    body{
        overflow-x: hidden;
    }
    nav{
        min-width: 390px;
        max-width: 412px;
    }
    nav .btnsCon{
        position: absolute;
        top: -110%;
        left: 0;
        width: 100%;
        height: 4rem;
        background: white;
        
        padding: 1rem 0;
        transition: .3s;
    }
    /* making it appears */
    .open{
        top: 110% !important;
        transition: .3s;
    }

    header{
        background: url('../assets/item-1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* height: 100vh; */
        /* justify-content: ; */
    }
    header .headContainer .textContainer{
        width: 100%;
    }
    header .headContainer .textContainer h1{
        font-size: 2rem;
    }
    header .headContainer .textContainer p{
        font-size: 1.1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90%;
    }
    header .headContainer .textContainer button{
            
        background: white;
        border: none;
        color: rgb(252, 194, 1);

        width: 10rem;
        font-size: 1rem;
    }
    .about{
        /* flex-direction: column; */
        height:100vh ;
    }
    .about .aboutText{
        width: 100%;
        padding: 1rem 2rem;
        background:  rgb(249, 237, 196);
    }
    .aboutText h1, h2{
        color: rgb(252, 194, 1);
    }
    .aboutText p{
        color: rgba(71, 71, 71, 0.833);
    }
    .aboutText .read{
        color: rgb(252, 194, 1)!important;
    }
    .about .imageCon{
        display: none;
    }
    .menu{
        padding: 0 .4rem 1rem;
        background: white;
        height: auto;
    }
    .menu .menuTitle{
        height: 5vh;
    }
    .menu .cardsCon {
        height: unset;
        width: 100%;
        padding: 0;
        place-content: unset;
        grid-template-columns: repeat(2,1fr);
    }
    .orders{

        background: rgb(249, 237, 196);
    }
    .orders .orderContainer{
        width: 100%;
        flex-direction: column;
    }
    .orders .orderContainer .orderImg{
        order: -1;
        width: 100%;
        background-position: center;
    }
    .orders .orderContainer .orderText{
        border-right: none;
        width: 100%;
        align-items: center;
    }
    .orderText label{
        align-self: flex-start;
        padding-left: 2rem;
    }
    .orderText button{
        align-self: flex-start;
        margin-left: 2rem;

    }
    .copyR{
        height: .5rem;
        padding: 0%;
    }

}